body{
    margin:10px;background-color:#FFF8DC;font-family: 'Montserrat', sans-serif; 
}

li{
    display: inline-block;
}

header{
    text-align: center; padding: 20px 40px; background-image: url(../img/pattern-2054297_1920.jpg);
}

nav{
    text-align: center; padding: 20px 40px;
}

section {
    padding: 20px 40px;
}

footer {
    text-align: center; padding: 20px 40px;
}

h1 {
    font-size: 50px;
}

h2{
    text-align: center;
}

a { 
    color: blue; text-decoration: none; 
}

a:hover { 
    text-decoration: underline; 
}

a:click {
    color: crimson;
}

img {
    box-shadow: grey 2px 2px 2px;
}
